.main-content {
  background-color: #fafdf4;
  flex: 1;
  padding: 32px;
  overflow-y: scroll;
  height: 100vh;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100vh;
  }
}


@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}